<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /mitsubishi/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /mitsubishi/index.html [L]
</IfModule>
